
<nav class="navbar navbar-expand-md navbar-dark ">

    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
          Gifts
      </li>   
        <li class="nav-item ">
          Patents
        </li>
        <li class="nav-item ">
          Homeware
        </li> 
        <li class="nav-item ">
          Cleaning Materials
        </li>
         <li class="nav-item "> 
          Baking & Cooking
        </li>
         <li class="nav-item ">
          Kids     
        </li>
        <li class="nav-item ">
          Kitchen     
        </li>
    </ul>

</nav>


<div class="container">

  <img class="img" src="../assets/flower-products.jpeg" alt="">

  <img class="sale" src="https://www.freeiconspng.com/uploads/sale-tag-png-4.png" alt="">

  
<div class="list">
  <app-product-list></app-product-list>
</div>


